.error{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 12%;
    left: 35vw;
    width: 30%;
    padding: 10px;
    font-size: larger;
    text-align: left;
    color: red;
    background-color:var(--red);
    border-radius: 5px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}