.header {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
}

.header .title {
    color: white;
    margin-left: 20px;
}

.header-menu {
    margin-right: 10px;
    display: flex;
}

.header-menu > a{
    color: var(--light);
    font-family: sans-serif;
    padding: 20px 30px;
    font-size: 20px;
    border-left: 1px solid var(--light);
    text-decoration: none;
}