.postjob-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 800px;
}

.postjob-header{
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.postjob-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postjob-form > label{
    font-weight: bold;
}

.postjob-form > input, .postjob-form > textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    margin-bottom: 20px;
    font-size: larger;
    font-family: inherit;
}

.postjob-form > button{
    color: var(--light);
    border: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    width: 35%;
    margin: 5px auto;
    font-size: 18px;
    cursor: pointer;
}