.taginput {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .taginput-container {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    display: flex;
    gap: 10px;
    width: 97%;
    margin-bottom: 20px;
  }
  
  .taginput-container > input {
    border: none;
    font-size: larger;
    width: 100%;
  }
  
  .taginput-container > input:focus-visible {
    outline: none;
  }
  
  .taginput-container .taginput-button {
    display: flex;
    padding: 2px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: #e8e8e8;
  }
  
  .taginput-container .taginput-remove {
    border: none;
    cursor: pointer;
  }
  
  .taginput-list {
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--bg-blur);
    border-radius: 5px;
    transform: translateY(104px);
    background-color: var(--light);
    width: 800px;
    overflow-y: scroll;
    max-height: 180px;
  }

  .showlist{
    visibility: visible;
  }
  
  .taginput-list > li {
    padding: 5px;
    border-bottom: 1px solid var(--bg-blur);
    cursor: pointer;
  }
  
  .taginput-list > li:hover {
    background-color: #8080801f;
  }
  
  .taginput-list > li:last-child {
    border-bottom: none;
  }
  